/* • • • • • Media Queries • • • • • */


/* =================== */
/* ~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 767px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        position: relative;
        z-index: 50;
        height: auto;
        top: 21px;
        background: #000000;
        border-top: 6px solid #2477bd;
        padding-bottom: 20px;
    }

    ul.dropdown-menu.lda_submenu li a:hover {
        background-color: #e7e7e7 !important;
    }
}


@media screen and (max-width: 525px){
    .complete_work_area {background-attachment: initial;}
    .markets_area {background-attachment: initial;}
}




/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ Main Navbar ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 1199px){
    img.logo_4_header_lg {width: 40%;}
    .lda_nav {margin-left: 45%;}
    .expanding-sf {margin-top: -19%;}
    .navbar-brand {padding-top: 28px;}
}

@media screen and (max-width: 991px){
    img.logo_4_header_sm {width: 50%;}
    .lda_nav {margin-left: 28%; margin-top: 20px;}
    .expanding-sf {margin-top: -25%;}
    .navbar-brand {padding-top: 28px;}
}

@media screen and (max-width: 767px){
    img.logo_4_header_sm {width: 65%;}
    .navbar-brand {padding-top: 16px;}
    .lda_nav {margin-left: 0; margin-top: 10px; text-align: right;}
    .expanding-sf {margin-top: -18%; float: right;}
    ul.dropdown-menu.lda_submenu {text-align: right;}
}

@media screen and (max-width: 590px){
    .expanding-sf {margin-top: -22%;}
}

@media screen and (max-width: 555px){
    .form:hover #searchform {
        width: 425px;
    }
}

@media screen and (max-width: 460px){
    .form:hover #searchform {
        width: 385px;
    }
    .expanding-sf {margin-top: -28%;}
}

@media screen and (max-width: 415px){
    .form:hover #searchform {
        width: 335px;
    }
}

@media screen and (max-width: 400px){
    .expanding-sf {margin-top: -35%;}
}

@media screen and (max-width: 360px){
    .form:hover #searchform {
        width: 305px;
    }
}

@media screen and (max-width: 335px){
    .form:hover #searchform {
        width: 275px;
    }
}






/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ Header with Main Carousel ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */
@media screen and (min-width: 1600px){
    .carousel-inner {max-height: 750px !important;}
    .h_banner {margin-top: 275px;}
}

@media screen and (min-width: 1900px){
    .carousel-inner {max-height: 850px !important;}
    .h_banner {margin-top: 325px;}
}

@media screen and (min-width: 2500px){
    .carousel-inner {max-height: 1150px !important;}
    .h_banner {margin-top: 420px;}
}


/* ----- SM/XS ----- */
@media screen and (max-width: 1199px){
    p.header_service_info {margin-bottom: 6%;}
}

@media screen and (max-width: 991px){
    p.header_service_info {margin-bottom: 8%;}
    h2.header_service_ttl {font-size: 2.8rem;}
}

@media screen and (max-width: 875px){
    .carousel-indicators {bottom: 18px;}

}

@media screen and (max-width: 767px){
    h2.header_service_ttl {font-size: 2.4rem;}
    p.header_service_info {margin-bottom: 8%; width: 88%;}
    .carousel-indicators {bottom: 15px;}
    .h_banner {margin-top: 135px;}
    button.service_learnmore {width: 30%;}

    .main_slide_img {height: 70vw;}
}

@media screen and (max-width: 650px){
    .main_slide_img {height: 80vw;}
}

@media screen and (max-width: 550px){
    h2.header_service_ttl {font-size: 2.2rem;}
    p.header_service_info {margin-bottom: 13%; width: 90%; font-size: 1.4rem;}
    .carousel-indicators {bottom: 5px;}
    .h_banner {margin-top: 135px;}
    button.service_learnmore {width: 30%;}

    .main_slide_img {height: 90vw;}
}

@media screen and (max-width: 475px){
    h2.header_service_ttl {font-size: 2rem;}
    button.service_learnmore {width: 35%;}
    .carousel-indicators {display: none;}

    .main_slide_img {height: 100vw;}
}

@media screen and (max-width: 400px){
    h2.header_service_ttl {margin-bottom: 12%;}
    p.header_service_info {display: none;}
    button.service_learnmore {width: 45%;}

    .main_slide_img {height: 100vw;}
}

@media screen and (max-width: 360px){
    h2.header_service_ttl {font-size: 2.1rem;}
    button.service_learnmore {width: 50%;}

    .main_slide_img {height: 110vw;}
}






/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ What About ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 1199px){
    h2.whatabout_ttl {width: 60%;}
}

@media screen and (max-width: 991px){
    h2.whatabout_ttl {width: 80%; font-size: 3rem;}
    p.whatabout_info {width: 93%;}
    button.getitnow_btn {width: 35%;}
}

@media screen and (max-width: 650px){
    h2.whatabout_ttl {width: 88%; font-size: 2.6rem;}
}

@media screen and (max-width: 470px){
    button.getitnow_btn {width: 45%;}
}

@media screen and (max-width: 400px){
    h2.whatabout_ttl {width: 88%; font-size: 2.3rem;}
    button.getitnow_btn {width: 50%;}
}









/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ What About ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 991px){
    .product_image {width: 200px; height: 200px;}
    .productbox h4 {height: 30px; font-size: 1.7rem; width: 100%;}
    .productbox p {min-height: 230px;}
    button.product_lrnmr {width: 80%;}
}

@media screen and (max-width: 767px){
    .product_image {width: 280px; height: 280px;}
    .productbox h4 {height: 30px; font-size: 2rem; width: 100%;}
    .productbox p {min-height: 80px; width: 65%;}
    button.product_lrnmr {width: 50%; margin-bottom: 11px;}
    .productbox {margin-bottom: 100px;}
}






/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ Markets ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 355px){
    button.markets_lrnmr {width: 50%;}
}








/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ Services ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 1199px){
    .srvc_image {height: 296px;}
}

@media screen and (max-width: 991px){
    .srvc_image {height: 270px; width: 96%;}
    img.logo_srvc {left: 50%;}
    button.srvc_lrnmr {width: 55%;}
}

@media screen and (max-width: 767px){
    .srvc_image {height: 57vw; width: 60%;}
    img.logo_srvc {left: 33%;}
    button.srvc_lrnmr {width: 35%;}
}

@media screen and (max-width: 450px){
    .srvc_image {height: 57vw; width: 60%;}
    img.logo_srvc {left: 33%;}
    button.srvc_lrnmr {width: 50%;}
}

@media screen and (max-width: 400px){
    .service_infobox {padding-top: 3px;}
}






/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ Complete Works ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 1199px){
    .cmpltwrk_image {width: 70%; height: 300px;}
}

@media screen and (max-width: 991px){
    .cmpltwrk_image {width: 74%; height: 240px;}
    button.cmpltwrk_lrnmr {width: 70%;}
}

@media screen and (max-width: 767px){
    .complete_work_area {min-height: 330px;}
    .complete_work_holder {padding-top: 30px;}
    button.cmpltwrk_lrnmr {width: 35%;}
}

@media screen and (max-width: 450px){
    button.cmpltwrk_lrnmr {width: 45%;}
}

@media screen and (max-width: 375px){
    button.cmpltwrk_lrnmr {width: 50%;}
}







/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ News Slider ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 767px){
    .lda_newz_slide {padding-left: 18px;}
    h3.nuz_ttl {width: 80%;}
}

@media screen and (max-width: 650px){
    h3.nuz_ttl {width: 80%; font-size: 1.7rem;}
}

@media screen and (max-width: 525px){
    .slick-dots {width: 90%;}
}







/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ Contacts ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 1050px){
    button.send_a_message {width: 28%;}
}

@media screen and (max-width: 767px){
    button.send_a_message {width: 35%;}
}

@media screen and (max-width: 700px){
    .address_leftside {margin-left: 0; width: 50%;}
    .address_riteside {width: 50%;}
}

@media screen and (max-width: 603px){
    button.send_a_message {width: 45%;}
}

@media screen and (max-width: 480px){
    button.send_a_message {width: 50%;}
}

@media screen and (max-width: 425px){
    button.send_a_message {width: 55%;}
}

@media screen and (max-width: 400px){
    .address_leftside h4 {font-size: 1.5rem;}
    .address_riteside h4 {font-size: 1.5rem;}

    .address_leftside p {font-size: 1.3rem; line-height: 2.2;}
    .address_riteside p {font-size: 1.3rem; line-height: 2.2;}
}

@media screen and (max-width: 390px){
    button.send_a_message {width: 65%; margin-top: 0;}
}

@media screen and (max-width: 345px){
    .address_leftside h4 {font-size: 1.4rem;}
    .address_riteside h4 {font-size: 1.4rem;}

    .address_leftside p {font-size: 1.1rem; line-height: 2;}
    .address_riteside p {font-size: 1.1rem; line-height: 2;}
}

@media screen and (max-width: 330px){
    button.send_a_message {width: 75%;}
}





/* ------ */






/* =================== */
/* ~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~ */
/* =================== */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 615px){
    footer.lda_footer {height: 120px; padding-bottom: 25px; padding-top: 25px;}

    .footer_socialz_holder {float: none !important;}
    ul.sozialize {display: block; margin-top: 20px; width: 77%;}

    .footer_info_holder {float: none !important;}
    h5.footer_info {display: block; width: 52%; margin: 0 auto;}
}

@media screen and (max-width: 574px){
    ul.sozialize {width: 80%;}
    h5.footer_info {width: 59%;}
}

@media screen and (max-width: 509px){
    ul.sozialize {width: 85%;}
    h5.footer_info {width: 68%;}
}

@media screen and (max-width: 444px){
    ul.sozialize {width: 90%;}
    h5.footer_info {width: 75%;}
}

@media screen and (max-width: 406px){
    ul.sozialize {width: 94%;}
    h5.footer_info {width: 82%;}
}

@media screen and (max-width: 373px){
    ul.sozialize {width: 97%;}
    h5.footer_info {width: 92%;}
}

@media screen and (max-width: 336px){
    ul.sozialize {width: 100%;}
    h5.footer_info {width: 98%;}
}






/* •••••••••••••••••••• */
/* I N N E R */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */

@media screen and (max-width: 1199px){
    h2.inner_main_ttl {width: 55%;}
}

@media screen and (max-width: 991px){
    h2.inner_main_ttl {width: 70%;}
    img.inner_box_pic {width: 45%;}
}

@media screen and (max-width: 767px){
    ul.inner_tablinx {margin-bottom: 111px;}
}

@media screen and (max-width: 719px){
    a.inner_tab_selekta {margin-bottom: 20px;}
    .inner_tab_content {margin-top: 180px;}
    h2.inner_main_ttl {font-size: 2.9rem;}

    img.inner_box_pic {margin-bottom: 1px;}
    p.proxima_reg em {font-size: 1.5rem; line-height: 1.5;}
}

@media screen and (max-width: 480px){
    h2.inner_main_ttl {width: 90%;}
    img.inner_box_pic {margin-bottom: 18px; width: 95%;}
}

@media screen and (max-width: 400px){
    h2.inner_main_ttl {font-size: 2.6rem;}
}

@media screen and (max-width: 370px){
    ul.inner_tablinx li a {width: 280px;}
}

@media screen and (max-width: 355px){
    ul.inner_tablinx li a {font-size: 1.5rem; width: 270px;}
}

@media screen and (max-width: 333px){
    ul.inner_tablinx li a {font-size: 1.4rem; width: 250px;}
}




/* ------ */




/* •••••••••••••••••••• */
/* C O N T A C T S */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */

@media screen and (max-width: 991px){
    p.contacts_intro_text {width: 90%;}
    button.lda_send {width: 90%;}
}

@media screen and (max-width: 767px){
    p.contacts_intro_text {width: 92%;}
    button.lda_send {width: 35%;}
}

@media screen and (max-width: 500px){
    p.contacts_intro_text {width: 93%;}
    button.lda_send {width: 45%;}
}

@media screen and (max-width: 400px){
    button.lda_send {width: 50%;}
}

@media screen and (max-width: 360px){
    button.lda_send {width: 60%;}
}

@media screen and (max-width: 330px){
    button.lda_send {width: 65%;}
}





/* ------ */




/* •••••••••••••••••••• */
/* PRODUCT INNER */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 1199px){
    span.trpl {height: 200px; width: 200px;}
}

@media screen and (max-width: 1025px){
    .triple_info_circle {padding-left: 50px;}
}

@media screen and (max-width: 991px){
    span.trpl {height: 200px; width: 200px;}
    .triple_info_circle {padding-left: 28px;}

    button.pdf_download_btn {width: 30%;}

    .triple_info_circle h4 {text-indent: 0;}
}

@media screen and (max-width: 767px){
    span.trpl {height: 365px; width: 365px; position: relative; left: 21%;}
    .triple_info_circle {margin-bottom: 50px;}

    span.lda_tech_rack {width: 98%;}

    .leftside_info_summary {width: 98%;}
    .riteside_info_details {z-index: 20; bottom: -72px; width: 98%;}

    .ritesidepic {margin-bottom: 30px;}

    .inner_tab_content {padding-left: 16px;}

    button.pdf_download_btn {left: 2px;}
}

@media screen and (max-width: 669px){
    ul.inner_tablinx li {clear: both;}
    .inner_tab_content p {clear: both;}
}

@media screen and (max-width: 660px){
    .leftside_info_summary {width: 97%;}
    .riteside_info_details {width: 97%;}

    span.trpl {height: 315px; width: 315px; position: relative; left: 20%;}
    button.pdf_download_btn {width: 40%;}
}

@media screen and (max-width: 575px){
    span.trpl {height: 285px; width: 285px; position: relative; left: 19%;}
}

@media screen and (max-width: 475px){
    span.trpl {height: 245px; width: 245px; position: relative; left: 18%;}
    button.pdf_download_btn {width: 50%;}
}

@media screen and (max-width: 420px){
    span.trpl {height: 225px; width: 225px; position: relative; left: 16%;}
    button.pdf_download_btn {width: 60%;}
}

@media screen and (max-width: 376px){
    span.trpl {height: 225px; width: 225px; position: relative; left: 10%;}
}

@media screen and (max-width: 330px){
    button.pdf_download_btn {width: 70%;}
}



/* •••••••••••••••••••• */
/* STATIC TABLE DYNAMIC AUTOMATION */
/* •••••••••••••••••••• */

@media screen and (max-width: 767px){
    .pseudotable_holder {width: 98%; margin-left: 8px; margin-bottom: 8px;}
    .pseudotable_st_right {border-left: none;}
    .pseudotable_st_left {border-bottom: 1px solid #ebebeb;}
}

@media screen and (max-width: 603px){
    .pseudotable_holder {width: 97%; margin-left: 9px;}
}

@media screen and (max-width: 525px){
    .pseudotable_holder {width: 96%; margin-left: 9px;}
}




/* •••••••••••••••••••• */
/* PHASE 3 PAGES SET */
/* •••••••••••••••••••• */




/* •••••••••••••••••••• */
/* CONTACTS 2 */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 360px){
    h2.contacts_ttl {font-size: 3.1rem;}
}










/* •••••••••••••••••••• */
/* NEWS (INNER) */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 650px){
    h2.news_inner_ttl {font-size: 2.6rem;}
    p.newz_inner_text {line-height: 1.7;}
}

@media screen and (max-width: 555px){
    p.newz_inner_text {font-size: 1.5rem;}
    .newz_image_inner {height: 195px;}
}

@media screen and (max-width: 470px){
    p.newz_inner_text {font-size: 1.4rem;}
    .newz_image_inner {height: 155px;}

    button.lda_send {width: 60%;}
}

@media screen and (max-width: 380px){
    .newz_image_inner {height: 125px;}
}

@media screen and (max-width: 360px){
    .newz_image_inner {height: 125px;}

    button.lda_send {width: 73%;}
}





/* •••••••••••••••••••• */
/* PARTNERS */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 767px){
    h2.prtnr_main_ttl {padding-left: 18px;}
    h5.prtnr_main_sub_ttl {padding-left: 18px;}

    .prtnr_logo {top: 0; width: 50%; height: 110px;}

    p.r_u_intrstd {padding-left: 32px;}
}

@media screen and (max-width: 435px){
    .prtnr_logo {top: 0; width: 70%; height: 110px;}

    p.r_u_intrstd {padding-left: 22px;}
}








/* •••••••••••••••••••• */
/* NEWZ BLOG */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 991px){
    .microdata_box {width: 33%;}
}

@media screen and (max-width: 525px){
    .microdata_box {width: 45%;}
}

@media screen and (max-width: 425px){
    .microdata_box {width: 65%;}
}










/* •••••••••••••••••••• */
/* FLYDROP MENU */
/* •••••••••••••••••••• */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 991px){
    .flydrop {margin-top: 70px;}
}

@media screen and (max-width: 767px){
    .flydrop {margin-top: 225px;}
}







/* = = = = = = */
/* Additional sections due to the September 2016 change request */
/* = = = = = = */

/* ----- LG/XL ----- */





/* ----- SM/XS ----- */
@media screen and (max-width: 1199px){
    .riteside_product_dtlz {padding-bottom: 36px;}
    .riteside_product_dtlz h2 {font-size: 3rem;}
}

@media screen and (max-width: 991px){
    button.get_it_btn {width: 55%;}
}

@media screen and (max-width: 780px){
    .address_leftside p {font-size: 1.222rem;}
    .address_riteside p {font-size: 1.222rem;}
}

@media screen and (max-width: 767px){
    .riteside_product_dtlz {padding-bottom: 24px;}
    button.get_it_btn {width: 35%;}

    .leftside_product_dtlz {padding-left: 24px;}
    .tool_image_holder_2 {padding-left: 4px;}
}

@media screen and (max-width: 650px){
    .leftside_product_image {min-height: 300px;}
    .riteside_product_dtlz {padding-left: 20px;}

    .riteside_product_image {min-height: 300px;}
}

@media screen and (max-width: 575px){
    .tool_image_holder {padding-right: 2px;}
}

@media screen and (max-width: 420px){
    .leftside_product_dtlz h2 {font-size: 3rem;}
    button.get_it_btn_2 {width: 40%;}
}

@media screen and (max-width: 360px){
    button.get_it_btn {width: 45%;}
    button.get_it_btn_2 {width: 50%;}
}




